.App {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo {
  height: 7vh;
  width: auto;
  margin-bottom: 2vh
}

.headerAndLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.headerStart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3vh;
}

#App-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1, #tag {
  align-self: left;
  font-family: 'Josefin Sans', sans-serif;
}

#tag {
  font-size: 1.6rem;
  padding-left: 3.6vh;
  margin-top: -.5rem;
  color: #fff
}

h1 {
  padding-left: 1vh;
  font-size: 4rem;
  margin-bottom: 0;
}

h2, h3 {
  font-size: 1.9rem;
  font-weight: bold;
  align-self: flex-start;
  font-family: 'Josefin Sans', sans-serif;
}

.maincard {
  display: grid;
  grid-template-columns: 5% 75% 20%;
  grid-template-rows: auto auto;
}

.cardname {
  grid-column: 1 / 4;
  background-color: #7c7c7cb9;
  border-radius: 8pt 8pt 0 0;
  padding: .8rem 0 .4rem 0;
  color: #ffffff;
}

.card-body {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-items: start;
  justify-self: start
}

.cardbuttons {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
}

.cardbuttons button {
  width: 7.5rem;
}

.cardtext {
  display: flex;
  flex-direction: column;
}

.App-header {
  border: 4px solid #00897b;
  background-color: #00897b;
  height: 20vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  border: 1px solid #00897b;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 8pt;
  background-color: #f1ffff
}

p {
  align-self: flex-start;
}

button:hover, input[type="submit"]:hover {
  background: #00897b;
  color: #ffffff;
  margin: 1rem 1rem .5rem 1rem;
  box-shadow: 1px 1px 1px 1px rgb(176, 182, 182)}

button, input[type="submit"] {
  background: #00897b;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  margin: 1rem 1rem .5rem 1rem;
  box-shadow: 1px 3px 3px 1px rgb(176, 182, 182)
}

.addform {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  padding-top: 2rem;
}

input, textarea {
  width: 96%;
  grid-column: 2 / 3;
  margin-bottom: .25rem;
  padding: 1%;
  resize: none
}

.qname-label {
  grid-column: 2;
  grid-row: 1 / 2;
  justify-self: center;
  padding-bottom: .25rem;
}

.qname-field {
  grid-row: 2 / 3;
  justify-self: center;
}

.qtext-label {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: center;
    padding-bottom: .25rem;
}

.qtext-field {
  grid-row: 4;
  justify-self: center;
}

.sname-label {
  grid-column: 2 / 3;
  grid-row: 5;
  justify-self: center;
  padding-bottom: .25rem;
}

.sname-text {
  grid-row: 6;
  justify-self: center;
}

.subm-label {
  justify-self: center;
  grid-column: 2 / 3;
  grid-row: 7;
  padding-bottom: .25rem;
}

.subm-text {
  grid-row: 8;
  justify-self: center;
}

.addqbutn {
  grid-column: 2 / 3;
  grid-row: 9;
  justify-self: center;
  padding: 0rem;
  width: 8rem;
}

.solverText {
  grid-row: 2 / 3
}

.card-body {
  display: flex;
  justify-content: space-around;
}

.card-body p, .card-body div {
  text-align: left;
  padding: .5rem .5rem .5rem 0;
}

strong {
  font-weight: bold
}

.hidden {
  display: none
}

.Dropdown-root {
  width: 80vh
}

#delete {
  background-color: rgb(226, 72, 86)
}

#delete:hover {
  background-color: rgb(241, 12, 12)
}

select {
  width: 30vw
}

.clicktext {
  color: rgb(14, 67, 227);
  text-decoration: underline;
  padding-bottom: 1rem;
}

#navbtn {
  color: #00897b;
  width: 205px;
}

.aboutBtn {
  width: auto;
  border: none;
  box-shadow: none;
  margin: -1rem 0 0 0;
}



.aboutBtn span {
  font-size: 2rem;
}

.aboutLink {
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

.ant-btn {
  height: 5vh
}

.ant-btn-primary {
  background-color: #00897b;
  border-color: white;
}

.ant-btn-primary:hover {
  background-color: #00897b;
}

.ant-btn-danger {
  color: white;
}

.existingtext {
  font-style: italic;
}

.add {
  touch-action: auto;
  width: 95%;
}

.anticon-check-circle, .anticon-close-circle {
  color: #00897b;
  font-size: 4rem;
  margin: 2rem;
}

.ant-select-selection {
  margin-top: 1rem;
}

.addnamebtn {
  margin: .25rem 1rem 1rem 1rem;
}

form {
  padding: .25rem;
}

.ant-modal-footer {
  display: none
}

.solutionLine pre {
  padding: 0rem;
}

pre {
  margin-bottom: 0rem
}

.updateInstr {
  margin-right: 5rem;
}

.footer {
  display: grid;
  grid-template-rows: 1fr auto;
}

.bbDescription {
  grid-row: 1;
  font-size: 14pt;
  max-width: 800px;
  text-align: left;
  justify-self: center;
  padding: 1rem 1rem 0 1rem;
}

.bbDescription h4 {
  font-weight: bold;
  font-size: 14pt
}

.founders {
  display: flex;
  justify-content: space-around;
}

.copyright {
  grid-row: 2;
}

.bodyDiv {
  height: 45vh;
}

.mainHeading {
  color: #fff;
}

.ant-card {
  border-radius: 2%;
}

.ant-card img {
  border-radius: 2%;
}

.icon {
  height: 1rem;
  margin-right: .5rem;
}

.anticon {
  font-size: 1.2rem
}

.contactsDiv {
  padding-top: .25rem;
}

.contactDiv {
  padding: .25rem .5rem 0 0;
}

.contactLink {
  padding-top: .5rem;
}

.ant-card-meta-description {
  margin-bottom: 1rem;
}

.ant-card-cover img {
  padding: .25rem;
  border-radius: 3%
}

.quote {
  font-style: italic;
  margin-top: 1rem;
}

.foundertagline {
  margin: 0
}

.foundertaglines {
  margin: 1rem 0;
}

.ant-card-meta {
  display: flex;
  align-items: center;
}

.ant-card-meta-avatar {
  float: right;
}

aside, .cardbuttons {
  grid-column: 3 / 4;
  grid-row: 2/3
}

.ant-modal {
  width: 95vw !important;
}

.maincard {
  display: grid;
  grid-template-columns: 5% 75% auto;
  grid-template-rows: auto auto auto;
}

.rulesBtn {
align-self: center
}

.rulesLink {
display: flex;
justify-content: space-around;
padding-bottom: 1.5rem;
}

.rules {
display: flex;
flex-direction: column;
text-align: left;
padding: .5rem 1.5rem;
}

.pageTitle {
padding-top: 1.5rem;
}

.subList {
padding-left: 2.5rem;
}

.anticon {
padding-right: .25rem;
}

.rules p, .rules li {
padding: .5rem;
}

.subList li {
padding: .25rem;
}

p {
margin-bottom: 0
}

.anticon-info-circle {
font-size: 2rem;
color: #fff;
}

@media (max-width: 500px) {

  .founders {
    flex-direction: column;
  }

  h1 {
    font-size: 2rem;
    padding: 0 0 0 .5rem;
  }

  #tag {
    font-size: 1rem;
    padding: 1vh 0 0 1vh;
  }

  .App-logo {
    height: 3rem;
    margin-top: 1rem;
  }

  .App-header {
    padding: .2rem;
    height: auto;
  }

  .headerStart {
    padding-left: 1vh
  }

  .headerAndLogo {
    padding-left: 0vh;
    justify-content: flex-start;
  }

  .logo {
    height: 4vh;
  }

  .cardbuttons {
    padding-bottom: 2vh;
    grid-column: 2 / 3;
    grid-row: 3 / 4

  }

}


